<div class="register">
    <div class="video-container">
        <video autoplay loop>
            <source
                src="https://static.videezy.com/system/resources/previews/000/048/277/original/383A9674-20200401_Stock_market_screen.mp4"
                type="video/mp4">
        </video>
    </div>
    <div class="center signIn">
        <h1>Sign Up</h1>
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" required [(ngModel)]="user.name" name="name" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="email" required [(ngModel)]="user.email" name="email" />
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input class="form-control" id="phone" required [(ngModel)]="user.phone" name="phone" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="user.password"
                name="password" />
        </div>
        <button (click)="AddUser()">Sign Up</button>
    </div>

</div>