:root {
  --primary-color: #49beb7;
  --dark-color: #211f2c;
  --light-color: #e3e1df;
  --danger-color: rgb(255, 44, 44);
  --success-color: #d22780;
  --main-color: #f8b500;
  // Breakpoints
  --mobile-breakpoint: 460px;
  --narrow-breakpoint: 720px;
  --normal-breakpoint: 960px;
}
